@import "reset"
@import "variables"
/* Footer Styles ========================================================================= */

.footer-top
  padding-top: 2.5rem
  background-color: $second-color
  padding-bottom: 2.3rem
  .btn-main
    width: 100%
    &_mod
      color: $main-color
      &:hover
        color: $second-color
        background-color: $fifth-color
        border: 1px solid $fifth-color
        cursor: pointer

.list-group
  background-color: $second-color
  .list-group-item
    text-transform: uppercase
    background: none
    border: none
    color: $first-color
    padding: 0.65rem 1.4rem
    &_mod
      text-transform: none
    &_size
      padding: 0.15rem 1rem
    // custom-large devices (desktops, 991 and up)
    @include respond-to(custom-large)
      padding: 0.5rem 1rem
  .list-link
    font-size: 0.875rem
    font-family: $open-sans
    font-weight: 400
    color: $first-color
    &:hover, &:focus
      color: $sixth-color
    &_mod
      font-weight: 300
      text-transform: none
    &_size
      font-size: 1.375rem

// Large devices (desktops, 992px and up)
@include respond-to(large)
  .footer-top
    text-align: center

.footer-bottom
  background-color: $seventh-color
  padding-top: 1rem
  padding-bottom: 1rem
  .copy
    display: block
    font-size: 0.9rem
    line-height: 2.2em
    color: $main-color
    font-weight: 300
    font-family: $open-sans
    padding: 0 0.3rem
  .license
    display: block
    font-size: .75rem
    line-height: 1.2rem
    color: $main-color
    font-weight: 300
    font-family: $open-sans
    padding: 0 0.3rem
  .navbar-brand
    &_mod
      margin: 0
      padding: 0
      width: 100%

// Large devices (desktops, 992px and up)
@include respond-to(large)
  .footer-bottom
    text-align: center
    .footer-content
      margin-bottom: 2rem
    .navbar-brand
      &_mod
        margin: 0 auto