@charset "UTF-8"
@import "variables"
@import "reset"

/* Header Styles ========================================================================= */

.header
  padding: 1.05rem 1rem 1.6rem
  height: 6.1rem
  // Large devices (desktops, 992 and up)
  @include respond-to(large)
    height: 100%

.navbar-brand
  margin-right: 0
  width: 25%

.navbar-expand-lg
  padding: 0
  .btn-main
    display: none
    min-width: 10rem
    &:hover
      background-color: $fifth-color
    // Large devices (desktops, 991px and up)
    @include respond-to(custom-large)
      margin: auto
  .enter
    display: block
  .navbar
    padding: 1rem 2rem
  .navbar-color
    background-color: $main-color
  .menu-links
    .nav-item
      margin: 0 .5rem
      border-bottom: 1px solid $main-color
      &:hover, &.active, &:focus
        border-bottom: 1px solid $fourth-color
        .nav-link
          &_mod
            font-weight: 600
    .nav-link
      &_mod
        padding: .5rem .5rem
        color: $main-text
        text-transform: uppercase
        font-size: 0.85rem
        line-height: 1
        font-family: $open-sans
        font-weight: 400
  .menu-languages
    margin-right: 1rem
    // Large devices (desktops, 991px and up)
    @include respond-to(custom-large)
      margin: auto
    .nav-item
      &:first-child
        border-right: 1px solid $first-color
    .nav-link
      &.active, &:focus
        font-weight: 600
        background: none
        color: $main-text
      &_mod
        color: $main-text
        text-transform: uppercase
        font-size: 0.85rem
        font-family: $open-sans
        font-weight: 400
  .dropdown
    &_mod
      .nav-link
        color: $main-text
        font-size: 0.9rem
        line-height: 1.5rem
        font-family: $open-sans
        font-weight: 400
        padding: .5rem 3rem .5rem 1rem
        &:before
          position: absolute
          content: ""
          background-image: url("../images/check.png")
          width: 12px
          height: 6px
          top: 1.2rem
          right: 0
          z-index: 1
        &:after
          display: none
        .code
          font-size: 0.8rem
          line-height: 1rem
          font-family: $open-sans
          font-weight: 300
      .show
        top: -6px
        left: -4px
        width: 109%
        padding: 0
        margin: 0
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3)
        border: 1px solid $first-color
        border-radius: 1px
        // Large devices (desktops, 991px and up)
        @include respond-to(custom-large)
          width: 100%
          left: 0
        .nav-link
          padding: 0.8rem 1.2rem .8rem 1.2rem
          &:before
            -webkit-transform: rotate(180deg)
            -moz-transform: rotate(180deg)
            -o-transform: rotate(180deg)
            -ms-transform: rotate(180deg)
            top: 1.4rem
            right: 1.1rem
            // Large devices (desktops, 991px and up)
            @include respond-to(custom-large)
              display: none
        .dropdown-item
          padding: .7rem 1.2rem
          color: $main-text
          font-size: 0.9rem
          font-family: $open-sans
          font-weight: 300
          text-transform: uppercase
          &:hover
            background-color: $fifth-color
            font-weight: 400

  .navbar-toggler
    border: 1px solid $first-color
    border-radius: 0
    padding: .40rem .75rem .25rem
  .navbar-toggler-icon
    height: 0.1em
    background-color: $first-color

  .show
    >.menu-languages
      .nav-link
        background: none


//  ============================================= MEDIA ======================================
// Large devices (desktops, 991px and up)
@include respond-to(custom-large)
  .navbar-collapse
    padding-top: 1rem
    padding-bottom: 1rem
    margin-top: 1rem
    margin-bottom: 1rem
    text-align: center
    border-bottom: 1px solid $first-color
    border-top: 1px solid $first-color
  .navbar-expand-lg
    .menu-links
      .nav-item
        border: none
        &:hover, &.active, &:focus
          border: none
          .nav-link
            &_mod
              color: $fourth-color
    .menu-languages
      text-align: center
      justify-content: center
      margin-bottom: 1rem!important
    .enter
      text-align: center
      justify-content: center
      margin-bottom: 1rem!important
    .dropdown
      &_mod
        .nav-link
          padding: .5rem 1rem
          &:before
            right: 50%
            top: 100%
            margin-right: -6px
        .show
          text-align: center

// medium devices (desktops, 768px and up)
@include respond-to(medium)
  .navbar-brand
    width: 40%
// small devices (desktops,576px and up)
@include respond-to(small)
  .navbar-brand
    width: 60%