@charset "UTF-8"
@import "variables"
@import "reset"

/* ===============================Main page Styles ========================================== */

//counter section
.counter-section
  background-color: $fourth-color
  padding-top: 0.75rem
  padding-bottom: 0.75rem

.counter-holder
  // Large devices (desktops, 768px and up)
  @include respond-to(medium)
    flex-direction: column
//counter section

//credit section
.credit-section
  padding-top: 3.6rem
  padding-bottom: 5rem
  background-image: url("../images/range-block-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  .h2-title
    margin-bottom: 1.2rem
    text-transform: uppercase
    // medium devices (desktops, 768px and up)
    @include respond-to(medium)
      font-size: 1.8rem
      line-height: 2rem
  .h3-title
    margin-bottom: 3.2rem
    text-transform: uppercase
  .credit-details
    overflow: hidden
    .h3-title
      color: $main-text
      font-weight: 400
      margin-bottom: 3.1rem
      font-size: 1.7rem
      // Small devices (desktops, 576 and up)
      @include respond-to(small)
        display: flex
        justify-content: center
        text-align: center
    .h4-title
      font-size: 1.15rem
      text-transform: uppercase
      margin-bottom: 1.2rem
      // Small devices (desktops, 576 and up)
      @include respond-to(small)
        text-align: center
        display: flex
        justify-content: center
    .quantity
      font-size: 1.1rem
      color: $main-text
      font-family: $open-sans
      padding-left: 0.5rem
      &_mod
        font-weight: 300
        font-size: 2rem
        line-height: 2.2rem
        padding-left: 0
    .currency
      color: $eleventh-color
      font-size: 0.9rem
      font-family: $open-sans
      font-weight: 300
      padding-left: 0.5rem
      &_mod
        font-size: 1.15rem
        padding: 0 0.8rem
    .left-column-bg
      background-color: $main-color
    .right-column-bg
      background-color: $eighth-color
    .left-column
      background-color: $main-color
      padding-top: 3rem
      padding-bottom: 3rem
      // Large devices (desktops, 1200px and up)
      @include respond-to(extra-large)
        padding-left: 0
        padding-right: 0
    .right-column
      background-color: $eighth-color
      padding-top: 3rem
      padding-bottom: 3rem
      // Large devices (desktops, 1200px and up)
      @include respond-to(extra-large)
        padding-left: 0
        padding-right: 0
        text-align: center
    .column-width
      width: 540px
      // Large devices (desktops, 1200px and up)
      @include respond-to(extra-large)
        width: 100%
      // Large devices (desktops, 991px and up)
      @include respond-to(custom-large)
        width: 90%
        margin: 0 auto

//credit section

//how-work section
.how-work
  padding-top: 4rem
  padding-bottom: 2rem
  background-color: $main-color
  .h2-title
    color: $main-text
    text-transform: uppercase
    margin-bottom: 3rem
    font-weight: 300
  .h3-title
    color: $main-text
    font-weight: 400
    margin-bottom: 1.1rem
  .how-work-cards
    padding-bottom: 3.3rem
    border-bottom: 1px solid $fourteenth-color
    .card
      position: relative
      .card-body
        padding: 2.6rem 1.25rem 1.25rem
      &:last-child
        &:after
          display: none
      &:after
        content: ""
        background-image: url("../images/arrow.png")
        position: absolute
        width: 29px
        height: 26px
        top: 25%
        right: 0
        // Small devices (desktops, 768 and up)
        @include respond-to(medium)
          display: none
    .card-body
      // Small devices (desktops, 768 and up)
      @include respond-to(medium)
        padding: 1rem
    .card-text
      font-family: $open-sans
      font-weight: 400
      font-size: 1rem
      line-height: 1.8rem
      color: $eleventh-color
//how-work section

//need-cards section
.need-cards
  .card-body
    padding: 3.6rem 1.25rem 1.25rem
.need
  padding-top: 2rem
  padding-bottom: 3rem
  background-color: $main-color
  .h2-title
    text-align: center
  .h4-title
    font-size: 1.16rem
  .need-card
    width: 160px
    height: 160px
    // Large devices (desktops, 768 and up)
    @include respond-to(medium)
      width: auto
      height: auto
  .h2-title
    color: $main-text
    text-transform: uppercase
    margin-bottom: 3.3rem
    font-weight: 300
  .h3-title
    color: $main-text

//need-cards section

//review section
.review
  padding-top: 4rem
  padding-bottom: 4.1rem
  background-color: $eighth-color
  .h2-title
    color: $main-text
    text-transform: uppercase
    margin-bottom: 3.2rem
    font-weight: 300
    // Large devices (desktops, 768 and up)
    @include respond-to(medium)
      text-align: center
//review section

//carousel
.carousel
  padding-bottom: 6.35rem
  .indicator
    width: 18px
    height: 18px
    border: 1px solid $sixteenth-color
    border-radius: 50%
    margin-right: 6px
    margin-left: 6px
    &.active, &:focus, &:hover
      border: none
      background-color: $fourth-color
      cursor: pointer
  .card
    border-radius: 0
    background: none
    position: relative
    &:before
      position: absolute
      content: ""
      background-image: url("../images/quote.png")
      width: 24px
      height: 18px
      top: 1.5rem
      left: 1.3rem
      z-index: 1
  .card-text
    color: $eleventh-color
    font-size: 0.9rem
    line-height: 1.6rem
    font-family: $open-sans
    font-weight: 400
  .card-body
    padding: 1.1rem 1.1rem 1.1rem 3.8rem
    background-color: $main-color
    margin-bottom: 2.5rem
    position: relative
    &:before
      content: ''
      position: absolute
      width: 0
      height: 0
      border-top: 29px solid $main-color
      border-right: 29px solid transparent
      bottom: -29px
      left: 31px
      // Large devices (desktops, 768px and up)
      @include respond-to(medium)
        left: 50%
  .blockquote-footer
    flex-direction: column
    height: 100%
    padding-left: 0.3rem
    // Large devices (desktops, 768px and up)
    @include respond-to(medium)
      margin-bottom: 2rem
      text-align: center
    &:before
      display: none
  .source
    font-style: normal
    color: $main-text
    font-size: 1rem
    line-height: 2rem
    font-family: $open-sans
    font-weight: 400
  .date
    color: $fifteenth-color
    font-size: 0.9rem
    line-height: 1
    font-family: $open-sans
    font-weight: 400
  .carousel-indicators
    bottom: 0

//carousel

/* ===============================Main page Styles ========================================== */

/* ===============================Personal Data page Styles ===================================== */
.passport-data
  padding-bottom: 1.7rem
  .custom-form-width
    // Large devices (desktops, 768 and up)
    @include respond-to(medium)
      margin-bottom: 1rem

.contacts-data
  padding-bottom: 8rem
  .phone-form-form-group
    margin-bottom: 4.6rem
  .custom-control-description
    font-size: 1.2rem
    line-height: 1.5rem
    color: $eleventh-color
    .custom-control-description-link
      text-decoration: underline
/* ===============================Personal Data page Styles ===================================== */


/* ===============================Income Data page Styles ===================================== */
.third-data
  padding-bottom: 2rem

.expenses-data
  padding-top: 2rem
  padding-bottom: 6rem
  .currency-info
    font-weight: 300
    font-size: 1.2rem
    line-height: 1.5rem
    color: $eleventh-color
    // custom-medium devices (desktops, 767px and up)
    @include respond-to(custom-medium)
      display: block
      margin: 1rem 0
      text-align: center
/* ===============================Income Data page Styles ===================================== */

/* ===============================Address Data page Styles ===================================== */
.registration-data
  padding-top: 2rem
  padding-bottom: 6rem
/* ===============================Address Data page Styles ===================================== */

/* ===============================Work Place page Styles ===================================== */
.work-place
  padding-bottom:  1.6rem

.work-address-data
  padding-bottom: 6rem
/* ===============================Work Place page Styles ===================================== */

/* ===============================Documents page Styles ===================================== */
.documents
  padding-bottom: 6rem
/* ===============================Documents page Styles ===================================== */

/* ===============================FAQ page Styles ===================================== */
.general-section
  padding-top: 3rem
  padding-bottom: 4rem

.prolongation-section
  padding-bottom: 6rem

.loan-section
  padding-bottom: 4rem
/* ===============================FAQ page Styles ===================================== */

/* ===============================About page Styles ===================================== */
.info-holder
  padding-top: 2rem
  padding-bottom: 3.2rem
  border-bottom: 1px solid $fourteenth-color
  .img-holder
    // Large devices (desktops, 992 and up)
    @include respond-to(large)
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 2rem
  .text-holder
    // Large devices (desktops, 992 and up)
    @include respond-to(large)
     display: flex
     flex-direction: column
     align-items: center
  .card-img
    width: 196px
    height: 196px
    display: block
    margin: 0 auto
    // Large devices (desktops, 992 and up)
    @include respond-to(large)
      height: auto
      width: auto
  .h4-title
    color: $main-text
    font-size: 1.8rem
    line-height: 2rem
    margin-bottom: 2rem
  .paragraph
    color: $eleventh-color
    font-size: 1.15rem
    line-height: 1.9rem
    margin-bottom: 0.6rem
    // Large devices (desktops, 992 and up)
    @include respond-to(large)
      text-align: justify

/* ===============================About page Styles ===================================== */

/* ===============================Enter page Styles ===================================== */
.enter-section
  padding-top: 3rem
  padding-bottom: 6.6rem

/* ===============================Enter page Styles ===================================== */

/* ===============================Register page Styles ===================================== */
.registration-section
  padding-top: 5rem
  padding-bottom: 9rem
/* ===============================Register page Styles ===================================== */

/* ===============================Register step 2 page Styles ===================================== */

/* ===============================Register step 2 page Styles ===================================== */
/* ===============================Register step 3 page Styles ===================================== */
/* ===============================Register step 3 page Styles ===================================== */

/* ===============================Order result page Styles ===================================== */
.message-holder
  padding-bottom: 3.6rem
  text-align: center
  &_mod
    border-bottom: 1px solid $fourteenth-color
    margin-bottom: 3rem
  .img-holder
    margin-bottom: 2rem
  .card-img
    width: 160px
    height: 160px
  .h4-title
    color: $main-text
    text-transform: uppercase
    margin-bottom: 2rem
  .sub-text
    font-size: 1.4rem
    line-height: 3rem
    font-weight: 300
    color: $eleventh-color

  .sub-text-calc
    font-weight: 400
    border-bottom: 3px solid $fourth-color
    color: $main-text
    font-size: 2rem
    line-height: 1
    &_mod
      font-size: 1rem
      line-height: 1.2rem
      border-bottom: none

/* ===============================Order result page Styles ===================================== */

/* ===============================Order sms page Styles ===================================== */

/* ===============================Order sms page Styles ===================================== */
